<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <title>{% block title %}  {% endblock %}</title>
</head>

<body>

<!-- HEADER -->
{% block header %}

<section id="header">
    <div class="container-fluid">
        <div class="row view-group col-lg-12">
            <h1>L'@TTITUDE</h1>
        </div>
    </div>
</section>

{% endblock %}

<!-- CONTENU -->

<link rel="stylesheet" type="text/css" href="../style/profil.css">

<section>

    <div class="container-fluid">

        <div id="contenu" class="row">


            <div class="col-lg-4">
                <h3>Navbar slide</h3>
            </div>



            <div class="col-lg-8">
                <section id="titre console">
                    <div class="container-fluid">
                        <div class="row view-group col-lg-12">
                            <h1>CONSOLE ADMIN</h1>
                        </div>
                    </div>
                </section>

                <section id="content">
                    <div class="container-fluid">
                        <div class="row view-group col-lg-12">
                            {% block content %}
                            <h1>CONTENT</h1>
                            {% endblock %}
                        </div>
                    </div>
                </section>

            </div>

        </div>
    </div>

</section>














<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>