{% extends 'Admin/layout_admin.html.twig' %}

{% block content %}
<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>News</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Titre</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="Titre" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="description">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" rows="5" col="10" id="description" name="description">News</textarea>
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="image">Image</label>
            <div class="col-md-4">
                <input id="image" name="image" class="input-file" type="file">
            </div>
        </div>

    </fieldset>
</form>

{% endblock %}