<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <title>{% block title %}  {% endblock %}</title>
</head>

<body>

<!-- HEADER -->
{% block header %}

    <section id="header">
        <div class="container-fluid">
            <div class="row view-group col-lg-12">
                <h1>L'@TTITUDE</h1>
            </div>
        </div>
    </section>

{% endblock %}

<!-- CONTENU -->

<link rel="stylesheet" type="text/css" href="../style/profil.css">

<section>

    <div class="container-fluid">

        <div id="contenu" class="row">


            <div class="col-lg-4">
                <h3>Navbar slide</h3>
            </div>



            <div class="col-lg-8">
                <section id="titre console">
                    <div class="container-fluid">
                        <div class="row view-group col-lg-12">
                            <h1>Enregistrement</h1>
                        </div>
                    </div>
                </section>

                <section id="content">
                    <div class="container-fluid">
                        <div class="row view-group col-lg-12">
                            {% block content %}
                        
                            {% endblock %}
                        </div>
                    </div>
                </section>

            </div>

        </div>
    </div>

</section>


{% block javascript %}{% endblock %}
</body>
</html>


