@font-face {
	font-family: 'thekids';
	src : url('fonts/The_Kids_Mraker.ttf');
}

@font-face {
	font-family: 'supermario';
	src : url('fonts/SuperMario256.ttf');
}



.toto
{
	background: #4592DD;
}

.navbar-brand {
	font-family: 'supermario';
	font-size: 2rem;
	color: #FCC802;
	letter-spacing: 0.4em;
}